{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    {% for b in books %}
    <div class="col-md-3 col-12 p-2">
        <div class="card">
            <img class="card-img-top" src="{{ b.image }}" alt="{{ b.name }}">
            <div class="card-body m-3">
                <h4 class="card-title">{{ b.name }}</h4>
                <p class="card-text">{{ b.price }} VNĐ</p>
                <a href="#" class="btn btn-primary">Xem chi tiết</a>
                <button class="btn btn-danger" onclick="addToCart({{ b.id }}, '{{ b.name }}', {{ b.price }})">Đặt hàng</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}